<div
  class="container w-100 h-100 d-flex justify-content-center align-items-center"
>
  <form [formGroup]="loginForm" (ngSubmit)="formSubmit()" class="w-100">
    <div class="mb-3">
      <label for="username " class="form-label">{{
        "login.name" | translate
      }}</label>
      <span class="username">
        <input
          type="text"
          class="form-control"
          id="username"
          formControlName="username"
          placeholder="Your Username"
        />
      </span>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">{{
        "login.password" | translate
      }}</label>
      <input
        type="password"
        formControlName="password"
        class="form-control"
        placeholder="your password"
        id="password"
      />
    </div>
    <button type="submit" class="btn btn-primary w-100">Sign In</button>
  </form>
</div>
