.bg-color {
  // background-color: #0A0B2F;
  --ion-background-color: #0a0b2f;
}

.rectangle_icon {
  position: absolute;
  top: 0;
  left: 0;
}

.quater_cirle {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 10%;
}

.logo {
  width: 12%;
  margin-right: 10px;
}
