<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>onboarding</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true" class="bg-color">
  <ion-col class="h-100 w-100 container d-flex justify-content-center align-items-center flex-column position-relative">
    <ion-row class="justify-content-center ">
      <h1>Appella</h1>
    </ion-row>  
    <ion-row class=" position-absolute bottom-0 mb-5 ">
      <button class="btn btn-primary d-flex align-items-center" (click)="navigation()">Get Started <ion-icon name="arrow-forward-outline" class="ms-2"></ion-icon></button>
    </ion-row>  
  </ion-col> 
  
</ion-content>
