// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
  --primary-color: #0a0b2f;
  --secondary-color: #4e32e9;
  --placeholder-color: #b8b8bb;
  --subtitle-color: #9b9cb3;
}
